{% extends 'prueba1/indext.html'%}

{%block content%}
<center>


    <br>      
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="teal">AlGORTIMOS DE CLASIFICACIÓN</FONT></i></b></h3></div>
    <br>   
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="teal">ANA KAREN BARRAGAN GAMA</font></i></b></h3></div>
    <br>
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="teal">VESPERTINO</font></i></b></h3></div>
    <br>
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="black">ESTE PARCIAL SE CONOCERA TRES TIPOS DE ALGORTIMOS DE CLASIFICACIÓN LOS CUALES SON LOS SIGUIENTES:</font></i></b></h3></div>
    <br>
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="blue">°ALGORTIMO KNN</font></i></b></h3></div>
    <br>
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="blue">°ALGORITMO INGENUO</font></i></b></h3></div> 
    <br>
    <div align="center"><h3 class = "ex"><b><i><font COLOR ="blue">°ALGORITMO LOGISTICA</font></i></b></h3></div>
</center>
{% endblock%}
